* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.caixa-principal {
    height: 100vh;
    width: 100%;
    background-image: url(./img/background.png.jpeg);
    background-size: cover;
    background-position: center;
    background-color: #191919;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}

.portifolio {
    color: #ffffff;
    font-size: 40px;
}

.portifolio span {
    color: #f9004d;
}

li {
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}

li:hover {
    color: #f9004d;
    transition: 0.5s;
}

.link-menu {
    text-decoration: none;
    color: white;
}

.meu-nome {
    position: absolute;
    top: 50%;
    left: 3%;
}

h1 {
    color: white;
    font-size: 75px;
}

h1 span {
    color: #f9004d;
}

.meu-nome h3 {
    color: white;
    font-size: 20px;
}

.meu-nome h3 span {
    color: #f9004d;
}

@media only screen and (max-width: 768px) {
    .portifolio {
        font-size: 30px;
    }

    h1 {
        font-size: 40px;
    }

    .meu-nome {
        position: static;
        text-align: center;
    }

    .meu-nome h3 {
        font-size: 16px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

section {
    display: flex;
    flex-wrap: wrap;
    background: #191919;
    padding: 60px 0;
}

figure img {
    margin: 3%;
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 50%;
    border: 1px #f9004d solid;
    transition: 0.2s ease-in-out;
}

figure img:hover {
    box-shadow: 0px 0px 6px #f9004d;
}

div {
    flex: 1;
}

.sobre {
    color: white;
    font-size: 4vw;
    text-align: center;
    padding: 1%;
}

p {
    margin: 3%;
    font-size: 2vw;
    text-align: center;
    color: #e2b9c6;
    margin-bottom: 2vh;
}

section div button {
    color: white;
    background-color: #f9004d;
    height: 5vh;
    width: 18vw;
    font-size: 1.5vw;
    border: none;
    border-radius: 26px;
    cursor: pointer;
}

section div button:hover {
    background-color: #000;
    border: 3px solid #f9004d;
    transition: 0.5s;
}

@media only screen and (max-width: 768px) {
    figure img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .sobre {
        font-size: 6vw;
    }

    p {
        font-size: 3vw;
    }

    section div button {
        height: 6vh;
        width: 50%;
        font-size: 3vw;
    }
}

.projetos {
    background-color: #000;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

.projetos h2 {
    color: white;
    font-size: 5vw;
    text-align: center;
    margin-bottom: 5vh;
}

.card-projetos1, .card-projetos2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2vw;
}

.card1, .card2, .card3, .card4, .card5, .card6, .card7 {
    background-color: #555a5a;
    width: 30%;
    border-radius: 2vw;
    padding: 2vw 3vw;
    text-align: center;
    margin: 2vw;
}

.card1 img, .card2 img, .card3 img, .card4 img, .card5 img, .card6 img, .card7 img {
    max-width: 100%;
    height: auto;
}

.card1 h7, .card2 h7, .card3 h7, .card4 h7, .card5 h7, .card6 h7, .card7 h7 {
    color: white;
    font-size: 2vw;
}

.card1 p, .card2 p, .card3 p, .card4 p, .card5 p, .card6 p, .card7 p {
    color: #e2b9c6;
    font-size: 2vw;
}

.card1 a, .card2 a, .card3 a, .card4 a, .card5 a, .card6 a, .card7 a {
    background-color: #f9004d;
    color: white;
    padding: 1vw 2vw;
    border-radius: 2vw;
    cursor: pointer;
    transition: 0.5s;
    display: inline-block;
    margin-top: 2vh;
}

.card1 a:hover, .card2 a:hover, .card3 a:hover, .card4 a:hover, .card5 a:hover, .card6 a:hover, .card7 a:hover {
    background-color: #11e06e;
    border: 2px solid #f9004d;
}

@media only screen and (max-width: 768px) {
    .projetos h2 {
        font-size: 7vw;
    }

    .card1, .card2, .card3, .card4, .card5, .card6, .card7 {
        width: 100%;
    }
}

footer {
    background-color: #191919;
    padding-top: 5vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h5 {
    color: white;
    font-size: 4vw;
    margin-bottom: 2vh;
}

footer p {
    color: white;
    font-size: 2vw;
    margin-bottom: 3vh;
    margin-top: 1vh;
}

.social {
    display: flex;
    gap: 2vw;
}

.social img {
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
}

.social a {
    background-color: #f9004d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vw;
    width: 5vw;
    cursor: pointer;
}

.social a:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

@media only screen and (max-width: 768px) {
    footer h5 {
        font-size: 6vw;
    }

    footer p {
        font-size: 3vw;
    }

    .social img {
        height: 5vw;
        width: 5vw;
    }

    .social a {
        height: 8vw;
        width: 8vw;
    }
}